.App {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow: scroll;
}

.HarmonyControls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.BoardContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

body {
  background-color: black;
  color: white;
}
